.btn_contianed {
  width: 153px;
  height: 38px;
  background-color: rgba(0, 128, 128, 1);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
