.btn_contianed {
  width: 153px;
  height: 38px;
  border: 1px solid rgba(0, 128, 128, 1);
  background-color: transparent;
  border-radius: 5px;
  color: rgba(0, 128, 128, 1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
